@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to left, #724e48, #292127);
  color: white;
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: 100vh;
}

#container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

#cabecalho {
  padding: 10px;
  border-radius: 5%;
}

#foto {
  display: flex;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

#nome {
  font-size: 1.5rem;
  text-align: center;
  color: #dfd2df;
}

#links {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

#links a img {
  width: 30px;
  height: 30px;
  padding: 10px;
}

#linkGitHub,
#linkInstagram,
#linkFacebook,
#linkLinkedin {
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  align-items: center;
  width: 20em;
  justify-content: center;
}

#linkGitHub {
  background-color: #1b1f23;
}

#linkInstagram {
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

#linkFacebook {
  background-color: #4064ac;
}

#linkLinkedin {
  background-color: #0074b4;
}

#linkGitHub:hover {
  background-color: #272d33;
}

#linkInstagram:hover {
  background: linear-gradient(
    45deg,
    #ff9e37 0%,
    #ff7746 25%,
    #ff2e4e 50%,
    #ff3083 75%,
    #ff24ba 100%
  );
}

#linkFacebook:hover {
  background-color: #6196ff;
}

#linkLinkedin:hover {
  background-color: #00a6ff;
}

#rodape {
  font-style: italic;
  padding: 5px;
  border-radius: 10px;
}

@media (max-height: 900px) {
  body {
    width: 100vw;
    height: 100vh;
    overflow: unset;
  }
  #container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
  #cabecalho {
    background: none;
  }
  #foto {
    height: 150px;
    width: 150px;
  }
  #linkGitHub,
  #linkInstagram,
  #linkFacebook,
  #linkLinkedin {
    font-size: 16px;
    padding: 1px;
  }

  #rodape {
    font-size: 12px;
  }
}

@media (max-width: 300px) {
  #nome {
    font-size: 20px;
  }

  #linkGitHub,
  #linkInstagram,
  #linkFacebook,
  #linkLinkedin {
    font-size: 12px;
  }
  #rodape {
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  #nome {
    font-size: 20px;
  }

  #linkGitHub,
  #linkInstagram,
  #linkFacebook,
  #linkLinkedin {
    font-size: 12px;
  }
  #rodape {
    font-size: 10px;
  }
}
